<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.wanghui.androidstudy"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <!--<activity android:name=".testrxjava.RxJavaDemo1">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ChangeSystemUIActivity"/>
        <activity android:name=".ui.ScrollActivity"
            android:hardwareAccelerated="false"/>
        <activity android:name=".testrxjava.TestRxJavaActivity"/>
        <activity android:name=".interaction.MultiTouchActivity"/>
        <activity android:name=".media.VideoCaptureActivity"/>
        <activity android:name=".media.VideoCapture2Activity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".media.DionisPlayerActivity"/>
        <activity android:name=".keep.KeepActivity"/>
        <activity android:name=".media.AudioCaptureActivity"/>
        <activity android:name=".handler.HandlerMsgActivity"/>
        <activity android:name=".expandable.ExpandableTestActivity"/>
        <activity android:name=".spannable.SpannableActivity"/>
        <activity android:name=".ipc.MessengerActivity"/>
        <service android:name=".ipc.MessengerService"
                 android:process=":remote"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECOED_VIDEO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>


</manifest>
